.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
node_modules/**
!node_modules/minimatch/**
!node_modules/brace-expansion/**
!node_modules/balanced-match/**
